{% extends 'index.html' %}

{% block content %}

<!-- Member Section Start Here -->

<section class="members" style="padding: 50px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3 style="display: inline-block;">Filter Option:</h3>
                <a href="{% url 'members' %}">ALL</a>
                <a href="{% url 'members' %}?type=teacher">Teacher</a>
                <a href="{% url 'members' %}?type=admin">Admin</a>
                <a href="{% url 'members' %}?type=staff">Staff</a>
            </div>

            <div class="col-md-6 col-sm-6">
                <a href="{% url 'memberinput' %}" class="btn btn-outline-primary btn-bg">Add New Member</a>
            </div>

            <div class="col-md-12 col-sm-12">
                <h2 class="text-center"> Members: {{members.count}}</h2>
            </div>

            {% for member in members %}

            <div class="col-md-4 col-sm-4">
                <div class="card" style="margin:20px 10px">
                    <img src="{{member.memberImage.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{member.memberName}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ member.memberDesignation }}</li>
                        <li class="list-group-item">{{ member.memberDepartment }}</li>
                        <li class="list-group-item">{{ member.memberEmail }}</li>
                        <li class="list-group-item">{{ member.memberPhone }}</li>
                    </ul>
                    <div class="card-footer">
                        <a href="{% url 'memberdetails' member.pk %}" class="btn btn-outline-primary btn-sm">Detail</a>
                        <a href="{% url 'memberedit' member.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
                        <a href="{% url 'memberdelete' member.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Approved Member at: {{member.memberApprove}}</small>
                    </div>
                </div>
            </div>

            {% endfor %}

            <!-- Paginations Code Here -->

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous%}   
                    <li class="page-item"><a class="page-link" href="{% url 'members'%}?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    <!-- Showing Paginations -->
                    <li class="page-link">Showing Page at: {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'members'%}?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>

        </div>
    </div>
</section>

<!-- Member Section Ends Here -->

{% endblock %}